<%= flash[:error] %>
<%= form_with model: @url do |form| %>
  <p>Original Url: <%= form.text_field :original_url %></p>
  <p>Short Url: <%= form.text_field :chibi_url %></p>
  <%= form.submit %>
<% end %>