<section class="bg-primary shadow-lg border-2 border-gray-200 px-8 py-4 mt-4 rounded-lg">
  <h2 class="text-lg font-bold text-text text-center mb-2">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :username, class: "block" %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "input mb-4" %>
    <%= f.label :password, class: "block" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    <div class="flex justify-center my-4">
      <%= f.submit "Log in", class: "btn block" %>
    </div>
  <% end %>
  <span class="text-sm">Already have an account?</span>
  <%= render "devise/shared/links" %>
</section>
